.project-details-background{
}

.header{
    font-weight: bold;
    font-size: 25px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif,"RobotoSubset"!important;
    -webkit-font-smoothing: antialiased;
    color: #1f2836;
}

.project-data{
    background-color: white;
    padding-top:20px;
    box-shadow: 1px 2px 3px #d3d3d3;
}

.column-center{
    text-align: center;
}

.column-border-right{
    border-right: 1px solid #CCC;
}

.number-text{
    color:#008bcb!important;
    font-weight: 700!important;
    font-size: 22px!important;
}

.open-text{
    color:#61AB00!important;
    font-weight: 700!important;
    font-size: 22px!important;
}

.days-colors{
    color:#61AB00!important;
}

.body-header{
    font-weight: bold;
    font-size: 20px;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    -webkit-font-smoothing: antialiased;
    color: #333;
}

.body-text{
    font-size: 16px;
    color: #4d525b;
    line-height: 1.5;
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    align: justify!important;
}